name: Prepare Release

on:
  push:
    branches:
      - "main"

jobs:
  pre-release:
    runs-on: "ubuntu-latest"
    steps:
      - uses: softprops/action-gh-release@v2.5.0
        with:
          prerelease: true
          name: "Next Release"

  