name: Draft Release

on:
  push:
    branches:
      - "main"

permissions:
  contents: write

jobs:
  draft-release:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
